{% extends 'layout.html' %}

{% block header %}
<h5>Here is how I think this could work:</h5>
{% endblock %}

{% block body %}
<p> Some person or organization wants to make a public statement about 
some question that comes in email format they get alot. All a user has to do is forward the email
to the public email account at the site (general@pcomment.mailgun.org) and it will
be formatted, posted and editable much like a wikipedia article. This is the simplest
use case but I believe it could be helpful. There are many things that
could be put around this but I think of this as the simpliest possible way to address
citizen concerns.<br><br>
Anyway, thanks for reading</p>
{% endblock %}

