{% extends 'layout.html' %}

{% block header %}
<h5>Here is how this website works right now:</h5>
{% endblock %}

{% block body %}
<p> Some person or organization wants to make a public statement about 
some question that comes in email format they get alot. All a user has to do is forward the email
to the public email account at the site (general@pcomment.mailgun.org) and it will
be formatted, posted and editable much like a wikipedia article (a post will only be editable by its owner). There are many things that
could be put around this but I think of this as the simpliest possible way to address some
citizen concerns.<br><br>
The site is live so feel free to click around and send it an email if you want. You do have to <a href='/register'>register</a> first though. I don't have
 user accounts yet so just use your imagination when it comes to permissions...</p> <br>
<a href=/>Home</a>
{% endblock %}

