{% from 'util.jinja2.html' import link_tag, script_tag %}
<!DOCTYPE html>
<html>
  <head>
    <link href="/static/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} </title>
  </head>
  <body>
    <div class="nav-corner row-fluid">
      <div class="span3 logo">
        <h4>public record</h4>
      </div>
      <div class="span4 offset5">
        <div class="inner-nc">
          <a href="/">Home</a> |
          <a href="/login">Login</a> | 
          <a href="/about">About</a>
        </div>
      </div>
    </div>
    <div class="page-header">
      {% block header %}
      {% endblock %}
    </div>

    <div class="funcontainer">
      {% block body %}
      {% endblock %}
    </div>
  </body>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </html>


