{% from 'util.jinja2.html' import link_tag, script_tag, render_body %}
<!DOCTYPE html>
<html>
  <head>
    <link href="/static/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://www.jacklmoore.com/js/jquery.autosize.js"> </script>
    <script> $(document).ready(function(){
    $('textarea').autosize();   
    }); 
  </script>

    <title>{% block title %}{% endblock %} </title>
  </head>
  <body>
    <div class="nav-corner row-fluid">
      <div class="span4 logo">
        <h3>For the Record</h3>
      </div>
      <div class="span4 offset4">
        <div class="inner-nc">
          <a href="/">Home</a> |
          <a href="/login">Login</a> | 
          <a href="/about">About</a> | 
          <a href="/register">Register</a>
        </div>
      </div>
    </div>
    <div class="header row-fluid">
      {% block header %}
      {% endblock %}
    </div>

    <div class="funcontainer">
      {% block body %}
      {% endblock %}
    </div>

 <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'for--the--record'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    



  </body>
  </html>


