{% extends 'layout.html' %}
{% block title %}
Public Comment
{% endblock %}

{% block header %}
<h3><a class=subject href="{{ account.make_url() }}"> {{ account.name }}</a></h3>
<p> responds to the email </p> 
<h4> {{ response.subject }} </h4>
{% endblock %}

{% block body %}

<div class="hero-unit mod">
  <div class="corner">
    Recieved Email - {{ response.date_post.strftime("%I:%M %p, %d %B, %Y") }} -
    <a href="{{ response.make_url() }}/edits">history</a>
  </div>
  <div class="inner-mod" style="white-space: pre-wrap">
    {{ response.cleaned_html|safe }}
  </div>
</div>
<div class="hero-unit mod">
  <div class="corner">Public Response</div>
  <div class="inner-mod">
  </div>
</div>


{% endblock body %}
