{% extends 'layout.html' %}
{% block title %}
Public Comment
{% endblock %}

{% block header %}
<b> {{ account.name }}'s </b> response to the email with the subject <b> {{ response.subject }} </b>
{% endblock %}

{% block body %}

<div class="hero-unit mod">
  <div class="corner">Recieved Email</div>
  <div class="inner-mod" style="white-space: pre-wrap">
    {{ response.text }}
  </div>
</div>
<div class="hero-unit mod">
  <div class="corner">Public Response</div>
  <div class="inner-mod">
  </div>
</div>


{% endblock body %}
