{% extends 'layout.html' %}


{% block header %}
<h4>Register an Account</h4>
<br><br>
<p> To register a temporary account put in your
email and the name you wish others to see.
Then you can send emails to general@pcomment.mailgun.org
and it will be posted to the site!</p>
<br>
<p></p>
{% endblock %}

{% block body %}
<form method=POST>
  <fieldset>
    <input name='name'
    type='text'
    value='example name'
    placeholder='name'>

    <input name='email'
    type='text'
    value='value@test.com'
    placeholder='email'
    >

  <div class='form-actions'>
    <button type="submit" class="btn btn-primary">submit</button>
  </div>
</form>
{% endblock %}
